<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #ofertaForm="ngForm" (ngSubmit)="addOferta
          (ofertaForm)">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]
          ="ofertaService.selectedOferta._id">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="name" #name="ngModel" [(ngModel)]="ofertaService.selectedOferta.name" placeholder="Enter oferta Name">
            </div>
            <div class="input-field col s12">
                <!---<input type="text" name="characteristics" #characteristics="ngModel" [(ngModel)]="paqueteService.selectedPaquete.characteristics" placeholder="Enter the characteristics">-->
              <textarea name="characteristics" cols="30" rows="10" #characteristics="ngModel" [(ngModel)]="ofertaService.selectedOferta.characteristics" placeholder="Enter The characteristics"></textarea>
            </div>
            <div class="input-field col s12">
              <input type="text" name="prize" #prize="ngModel" [(ngModel)]="ofertaService.selectedOferta.prize" placeholder="Enter the prize">
            </div>
            <div class="card-action"> 
              <div class="input-field col s12">
                  <button class="btn right" (click)="reset(ofertaForm)">Clean</button>
                <button class="btn right" style="margin-left: 2px">Save</button>
              </div>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
        <table>
            <thead>
              <th>Name</th>
              <th>characteristics</th>
              <th>prize</th>
              <th>Operations</th>
            </thead>
            <tbody>
              <tr *ngFor="let oferta of ofertaService.ofertas">
                <td>{{oferta.name}}</td>
                <td>{{oferta.characteristics}}</td>
                <td>{{oferta.prize}}</td>
                <td>
                  <a (click)="editOferta(oferta)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a (click)="deleteOferta(oferta._id)">
                      <i class="material-icons">delete</i>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>